<p>
    Le concepteur de labyrinthes découpés au laser a été créé par Aaron Rodriguez.
</p>
<p>
    Le code source peut être trouvé sur
    <a href="https://github.com/adashrod/LaserCutMazesAngular" target="_blank" appTrackClick category="À propos" label="githubProject">GitHub</a>.
    Si vous trouvez un bug et souhaitez soumettre un rapport (ou une demande de fonctionnalité), vous pouvez le faire
    <a href="https://github.com/adashrod/LaserCutMazesAngular/issues" target="_blank" appTrackClick category="À propos" label="githubProjectIssues">ici</a>.
</p>
<p>
    Les autres projets d'Aaron peuvent également être trouvés sur <a href="https://github.com/adashrod" target="_blank" appTrackClick category="À propos" label="githubHome">GitHub</a>.
</p>