<div>
    <p>Pour commencer, saisissez des valeurs pour les dimensions du labyrinthe (nombre de lignes et de colonnes). Une
        fois que vous aurez fait cela, l'algorithme générera automatiquement un labyrinthe.
        Choisissez vos mesures de matériau et vous serez prêt à cliquer sur "Exporter le plan SVG", ce qui vous
        permettra de télécharger un fichier SVG à envoyer à votre
        découpeuse laser.
    </p>
    <p>Chaque champ d'entrée dispose d'un bouton d'aide [?] avec des informations supplémentaires sur sa signification.
    </p>
</div>
<div class="conversions">
    <span>Quelques mesures courantes et conversions</span>
    <app-help-modal>
        <div class="title">Conversions courantes</div>
        <div class="body">
            <div class="conversion-table-title">Épaisseur du matériau</div>
            <table>
                <thead>
                    <tr>
                        <th>Millimètres (mm)</th>
                        <th>Centimètres (cm)</th>
                        <th>Pouces (in)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>.1</td>
                        <td>.039</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>.2</td>
                        <td>.079</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>.3</td>
                        <td>.118</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>.4</td>
                        <td>.158</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>.5</td>
                        <td>.197</td>
                    </tr>
                    <tr>
                        <td>3.18</td>
                        <td>.318</td>
                        <td>1/8</td>
                    </tr>
                    <tr>
                        <td>6.35</td>
                        <td>.635</td>
                        <td>1/4</td>
                    </tr>
                </tbody>
            </table>
            <div class="conversion-table-title">Dimensions de la zone d'impression</div>
            <table>
                <thead>
                    <tr>
                        <th>Millimètres (mm)</th>
                        <th>Centimètres (cm)</th>
                        <th>Pouces (in)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>279.4</td>
                        <td>27.94</td>
                        <td>11</td>
                    </tr>
                    <tr>
                        <td>304.8</td>
                        <td>30.48</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>495.3</td>
                        <td>49.53</td>
                        <td>19.5</td>
                    </tr>
                    <tr>
                        <td>508</td>
                        <td>50.8</td>
                        <td>20</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </app-help-modal>
</div>
<form>
    <div class="group">
        <div class="maze-inputs inputs">
            <div class="section-title">
                <span>Configuration du labyrinthe</span>
                <app-help-modal>
                    <div class="title">Paramètres de configuration du labyrinthe</div>
                    <div class="body">Ces paramètres déterminent la forme, la structure et les dimensions du labyrinthe.
                        Saisissez des valeurs pour le nombre de lignes et de colonnes pour commencer.</div>
                </app-help-modal>
            </div>
            <div class="row">
                <label for="printModeInput">mode d'impression</label>
                <div>
                    <select id="printModeInput" [(ngModel)]="printMode" (change)="buildMaze()" name="printMode">
                        <option *ngFor="let e of printModes" [ngValue]="e">{{e.name}}</option>
                    </select>
                    <app-help-modal>
                        <div class="title">Mode d'impression du labyrinthe</div>
                        <div class="body">
                            <dl>
                                <dt>Plancher et murs</dt>
                                <dd>
                                    Une pièce est découpée pour le plancher du labyrinthe, des pièces individuelles sont
                                    découpées pour chaque mur, et les pièces des murs doivent être
                                    fixées dans des encoches du plancher.
                                    <br />
                                    <img src="LaserCutMazes/assets/floorAndWallPartiallyAssembled.png" />
                                    <div class="image-caption">plancher avec quelques pièces de mur en place</div>
                                    <img src="LaserCutMazes/assets/wallPiecesSmall.png" />
                                    <div class="image-caption">pièces de mur</div>
                                </dd>
                                <dt>Feuille unique</dt>
                                <dd>
                                    Deux pièces sont découpées : une qui représente la forme entière du labyrinthe, et
                                    une qui est un rectangle simple de la même taille que la
                                    première pièce. La pièce du labyrinthe est placée sur le rectangle simple et aucune
                                    autre assemblée n'est nécessaire. Des copies supplémentaires des
                                    pièces peuvent être imprimées et empilées pour augmenter la hauteur.
                                    <br />
                                    <img src="LaserCutMazes/assets/singleSheetPieces.png" />
                                    <div class="image-caption">la pièce du labyrinthe et le plancher simple</div>
                                </dd>
                            </dl>
                        </div>
                    </app-help-modal>
                </div>
            </div>
            <div class="row">
                <label for="numRowsInput">nombre de lignes</label>
                <div>
                    <input id="numRowsInput" [type]="numericInputType" min="1" step="1" [(ngModel)]="mazeConfig.numRows"
                        name="numRowsInput" />
                    <app-help-modal>
                        <div class="title">nombre de lignes du labyrinthe</div>
                        <div class="body">Le nombre de lignes, autrement dit la hauteur. Il s'agit du nombre de couloirs
                            horizontaux dans le labyrinthe (entiers positifs uniquement).</div>
                    </app-help-modal>
                </div>
            </div>
            <div class="row">
                <label for="numColsInput">nombre de colonnes</label>
                <div>
                    <input id="numColsInput" [type]="numericInputType" min="1" step="1" [(