<div class="end-container">
    <header>
        <div class="page-title">  Labyrinthes découpés au laser</div>
        <nav>
            <a routerLink="/LaserCutMazes/welcome" routerLinkActive="active">Accueil - </a>
            <a routerLink="/LaserCutMazes/designer" routerLinkActive="active">Concepteur - </a>
            <a routerLink="/LaserCutMazes/help" routerLinkActive="active">Aide - </a>
            <a routerLink="/LaserCutMazes/about" routerLinkActive="active">À propos</a>
        </nav>
    </header>
</div>
<div class="main-body">
    <router-outlet></router-outlet>
</div>
<div class="end-container">
    <footer>
        <div class="copyright">&copy; 2018 Aaron Rodriguez</div>
        <nav>
            <a routerLink="/LaserCutMazes/welcome" routerLinkActive="active">Accueil - </a>
            <a routerLink="/LaserCutMazes/designer" routerLinkActive="active">Concepteur de labyrinthes - </a>
            <a routerLink="/LaserCutMazes/help" routerLinkActive="active">Aide - </a>
            <a routerLink="/LaserCutMazes/about" routerLinkActive="active">À propos</a>
        </nav>
    </footer>
</div>
