<div>
    <p>Bienvenue dans le concepteur de labyrinthes découpés au laser, par Aaron Rodriguez</p>
    <p>Avec cet outil et une découpeuse laser telle qu'une <a href="https://glowforge.us/IAVRVMWC" target="_blank">Glowforge</a> ou une
        <a href="http://epiloglaser.com" target="_blank">Epilog</a>, vous pouvez créer votre propre labyrinthe en bois. Ensuite, vous pouvez l'assembler
        et y jouer en faisant rouler une petite bille à travers les couloirs.
    </p>
</div>
<div>
    <iframe width="480" height="270" src="https://www.youtube.com/embed/4fWBe2R-6Nw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="allowfullscreen"></iframe>
    <img src="LaserCutMazes/assets/singleSheetPieces.png"/>
</div>
<div>
    <p>Commencez <a routerLink="/LaserCutMazes/designer">ici</a></p>
</div>